@model TempusDigitalMVC.Views.Home.RelatorioDados

@{
    Layout = "_Layout";
    var title = "Relatório dos clientes";
    ViewData["Title"] = title;
}

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Quantidade de clientes maiores de 18 anos com renda familiar maior que a renda média de todos os clientes cadastrados</h5>
                @if (Model == null)
                {
                    <p class="card-text">Não há informações para exibir.</p>
                }
                else
                {
                    <p class="card-text">Média Renda familiar: @string.Format("{0:C2}", Model.MediaRendaFamiliar)</p>
                    <p class="card-text">Quantidade de clientes acima média: @Model.QtdePessoaRendaAcimaMedia</p>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Classificação das classe A, B e C</h5>
                <p class="card-text">Classe A: @Model.QtdeClasseA </p>
                <p class="card-text">Classe B: @Model.QtdeClasseB </p>
                <p class="card-text">Classe C: @Model.QtdeClasseC </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <h5 class="card-title">Visualização dos dados</h5>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-primary" asp-route-filtro="mes">Mes</a>
                        @string.Format("{0:C2}", Model.RendaMes)
                    </div>
                    <div class="col">
                        <a class="btn btn-primary" asp-route-filtro="semana">Semana</a>
                        @string.Format("{0:C2}", Model.RendaSemana)
                    </div>
                    <div class="col">
                        <a class="btn btn-primary" asp-route-filtro="hoje">Hoje</a>
                        @string.Format("{0:C2}", Model.RendaHoje)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>